body {
    font-family: "Montserrat", serif;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.index-container {
    width: 90%;
    max-width: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.icon-button {
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-button img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.options label {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-top: 5px;
}

#forms-container form {
    display: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#forms-container form.active {
    display: block;
}

#forms-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#forms-container form input[type="text"],
#forms-container form input[type="date"],
#forms-container form input[type="time"],
#forms-container form input[type="number"],
#forms-container form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#forms-container form textarea {
    height: 100px;
}

#forms-container form button {
    background-color: #6200EE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#forms-container form button:hover {
    background-color: #5000C8;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0;
}

header img {
    max-width: 250px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 3em;
    color: #333;
}

.my-claims-button {
    background-color: #33298c !important;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 20px;
}

.banner img {
    max-width: 250px;
    margin-right: 20px;
}

@media (max-width: 500px) {
    .container {
        width: 95%;
    }
    .options {
        flex-direction: column;
        align-items: center;
    }
    .options img {
        margin-bottom: 10px;
    }
}
